node_modules
.next
.next-build
.next-dev
.env.local
.env*.local
*.json
!package.json
!package-lock.json
!tsconfig.json
!next-env.d.ts
bowling-system-firebase-adminsdk-*.json
firebase-service-account.json

.vercel
